/* ----------------------------------------------------
	GLOBAL
------------------------------------------------------- */
body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.2px !important;
	font-weight: 300;
	color: #383838;
}

label {
	font-weight: 700;
}

/* ----------------------------------------------------
	HEADER
------------------------------------------------------- */


/*----------  Navbar  ----------*/
@media (max-width: 1200px) {
	.navbar-right {
		display: none;
	}
}

@media (max-width: 1200px) {
	.ttmenu .navbar-brand {
		padding: 0 6px 0 0;
	}
}

.navbar-collapse {
	margin-bottom: 1rem;
}

.navbar-default .navbar-nav > li > a {
    color: #383838;
    font-weight: 700;
}

/*----------  Logo  ----------*/
.logo-pos {
	margin-top: -25px;
	margin-right: 15px;
	margin-bottom: 20px;
}

.navbar-brand img {
	width: 17rem;
	padding: 1rem;
}

/* ----------------------------------------------------
	REGISTRATION
------------------------------------------------------- */

/*----------  Registration form  ----------*/
.panel {
	background-color: transparent;
	border: none;
}

.error-container {
	height: 34px;
	padding-top: 5px;
}

@media (max-width: 1200px) {
	.error-container {
		height: 15px;
		padding-top: 0;
	}
}

.error {
	color: red;
	height: 34px;
    padding: 0.5rem;
}

.register-buttons {
	display: flex;
}

#reset {
	background-color: grey;
	border-color: grey;
}


select {
	cursor: pointer;
}

#date {
	cursor: pointer!important;
}


/* ----------------------------------------------------
	CONTACT
------------------------------------------------------- */
.contact-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10rem;
}

.contact-title {
	font-size: 7rem;
}

.contact-text {
	font-size: 3rem;
}

.section.bebinar-contact {
	padding: 10px 0 90px 0;
}

/* ----------------------------------------------------
	HOME PAGE
------------------------------------------------------- */
.icons {
	width: 4rem;
	height: 4rem;
	margin: 0 0 0.5rem 0.1rem;
}

.left-icons h4 {
	text-align: left;
}

.left-icons p {
	text-align: left;
}

.right-icons h4 {
	text-align: right;
}

.right-icons p {
	text-align: right;
}

.subtitle {
	font-size: 15px!important;
	left: 117px;
	top: 340.488px;
}

@media (max-width: 1200px) {
	.home-subtitle {
		font-size: 16px;
	}
}

.feature-list {
	margin: 0 auto;
}

.section.why-bebinar {
	padding: 10px 0 90px 0;
}

@media (max-width: 768px) {
	.home-blog {
		padding: 30px 30px!important;
	}
}


/*----------  Slider section  ----------*/
.slider-section {
	background-color: #ffffff;
}

@media (max-width: 768px) {
	.slider-section .slider_layer_02 p {
		display: none;
	}

	.slider-section .tp-caption .btn{
		font-size: 16px!important;
		margin-top: -20px!important;
	}

	.white .section-title{
		margin-bottom: -25px;
	}
 }


.tp-caption p {
	color: orangered;
	font-size: 20px;
	font-style: bold;
}

/*----------  Why Bebinar section  ----------*/
.why-us {
	height: 110px;
}

@media (max-width: 768px) {
	.why-us p {
		line-height: 1.2;
	}
 }

/* ----------------------------------------------------
	ABOUT US
------------------------------------------------------- */
.content-widget .attention{
	color: orangered;
}

.content-widget img{
	width: 100px;
	height: 200px;
}

/* ----------------------------------------------------
	FOOTER
------------------------------------------------------- */
.content-widget hr, .footer hr {
    border-color: #999eab;
    margin: 0;
    border-width: 2px;
    width: 100%;
}

/* ----------------------------------------------------
	PREMIERE
------------------------------------------------------- */
.section.premiere {
	padding: 0 0 90px 0;
}


/* ----------------------------------------------------
	COURSES
------------------------------------------------------- */
.shop-item-list img{
	max-width: 200px;
	max-height: 200px;
}

@media (max-width: 768px) {
	.shop-item-list img{
		max-width: 150px;
		max-height: 150px;
	}
}

.shop-list-desc h4,  .shop-list-desc p{
	word-wrap: break-word;
}

.course-list {
	margin-bottom: 5rem;
}

.section.single-course {
	padding: 40px 0;
}

.section.single-course video {
	margin-bottom: 40px;
}


/* ----------------------------------------------------
	BLOGS
------------------------------------------------------- */

.blog-wrapper {
	margin: 40px 0;
}

.blog-image {
	min-height: 200px;
	max-height: 200px;
	overflow: hidden;
}

.blog-desc p {
	font-size: 18px;
}

.blog-desc p.little-blogs {
	min-height: 320px;
}

.blog-desc, .blog-title {
	padding: 30px 30px;
}

.img-container img {
	max-width: 350px;
	max-height: 212px;
	padding: 30px 40px;
}

.blog-title h2 {
	margin-top: -15px;
}

.blog-title.home-blog {
	min-height: 140px;
}

@media (max-width: 1200px) {
	.blog-desc p.little-blogs {
		min-height: 384px;
	}
}

@media (max-width: 768px) {
	.blog-image {
		min-height: 200px;
		max-height: 400px;
		overflow: hidden;
	}

	.blog-desc, .blog-title {
		padding: 0 0 30px 0;
	}

	.blog-desc p {
		min-height: auto;
	}

	.blog-desc p.little-blogs {
		min-height: auto;
	}

	.blog-title h2{
		font-size: 16px;
		line-height: 16px;
	}

	.blog-title h2 a{
		font-size: 20px!important;
		line-height: 16px;
	}

	.img-container img {
		padding: 30px 0 40px 15px;
	}
}

.img-container {
	padding-left: 0;
}


.blog-button {
	margin-left: 0;
}

/*----------  Single blog page  ----------*/
.blogs {
	padding: 20px 0;
}

.single-img-container img {
	max-width: 100%;
	padding: 30px 30px;
}

.section.other-blogs {
	padding: 0 0 50px 0;
}

.social-buttons-container {
	padding: 0 30px;
}

@media (max-width: 768px) {
	.single-img-container  {
		padding: 0 30px;
	}

	.single-blog-title  {
		padding: 0 30px;
		margin-bottom: 10px;
	}

	.single-img-container img {
		max-width: 100%;
		padding: 30px 0 40px 0;
	}

	.single-blog-title h2 {
		font-size: 24px;
	}

	.social-buttons-container {
		padding:  0 30px 30px 30px;
	}

	.blog-desc.single-blog-content {
		padding: 0 30px 30px 30px;
	}

	.video-about-container {
		margin-top: 40px;
	}

	.iframe-column {
		padding: 0;
	}
}

iframe.video-about {
	height: 275px !important;
}

@media (max-width: 1023px) {
	iframe.video-about {
		height: 400px !important;
	}
}

@media (max-width: 414px) {
	iframe.video-about {
		height: 240px !important;
	}
}

@media (max-width: 375px) {
	iframe.video-about {
		height: 200px !important;
	}
}

@media (max-width: 320px) {
	iframe.video-about {
		height: 165px !important;
	}
}

.btn.btn-facebook {
	width: 40px;
	color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn.btn-twitter {
	width: 40px;
	color: #fff;
	background-color: #2ba9e1;
	border-color: rgba(0,0,0,0.2);
}

.btn.btn-gplus {
	width: 40px;
	color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn.btn-pinterest {
	width: 40px;
	color: #fff;
    background-color: #cb2027;
    border-color: rgba(0,0,0,0.2);
}
